# IDE extensions
.vscode
*/*/.vscode
.vscode/*
.idea/*
*.iml

# Node dependency directories
node_modules/
*/node_modules
node_module
.node_repl_history

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# macOS files
.DS_Store
*/.DS_Store

# not required Directories
temp/
Books/
Syllabus/